.da_svolgere
{
    background-color: rgb(227, 227, 227);
    height: 100vh;
    padding: 10px;
}

th {
    color: honeydew!important;
}

.btn-svolgi{
    padding : 10px;
    margin: 0 auto;
    color: rgb(211, 211, 211); 
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    transition: 0.3s;
}

.btn-svolgi:hover{
    padding : 10px;
    margin: 0 auto;
    color: rgb(211, 211, 211); 
    background-color: rgb(50, 115, 177);
    border-radius: 5px;
    cursor: pointer;
}

.disabled{
    padding : 10px;
    margin: 0 auto;
    color: rgb(106, 106, 106); 
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    transition: 0.3s;
    cursor:not-allowed ;
}